<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/layout :: header('Thesis Applications')}"/>
</head>
<body>
    <nav th:replace="~{fragments/layout :: navigation}"></nav>
    
    <div class="container">
        <div th:replace="~{fragments/layout :: message}"></div>
        
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h2>Theses Applications</h2>
            <template th:replace="~{fragments/layout :: tableActions(@{/thesis-applications/new})}"></template>
        </div>
        
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Student</th>
                        <th>Supervisor</th>
                        <th>Status</th>
                        <th>Submission Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="thesisApp : ${thesesApplications}" 
                        th:onclick="'window.location.href=\'' + @{/thesis-applications/{id}(id=${thesisApp.id})} + '\''"
                        style="cursor: pointer;"
                        class="table-row-link">
                        <td th:text="${thesisApp.id}"></td>
                        <td th:text="${thesisApp.title}"></td>
                        <td>
                            <span th:if="${thesisApp.getStudent() != null}" 
                                  th:text="${thesisApp.getStudent().name}">
                            </span>
                        </td>
                        <td>
                            <span th:if="${thesisApp.getSupervisor() != null}"
                                  th:text="${thesisApp.getSupervisor().name}">
                            </span>
                        </td>
                        <td>
                            <span th:switch="${thesisApp.status}">
                                <span th:case="${statusType[0]}" class="badge bg-primary">Submitted</span>
                                <span th:case="${statusType[1]}" class="badge bg-success">Accepted</span>
                                <span th:case="${statusType[2]}" class="badge bg-danger">Rejected</span>
                            </span>
                        </td>
                        <td th:text="${#temporals.format(thesisApp.submissionDate, 'dd-MM-yyyy HH:mm')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer th:replace="~{fragments/layout :: footer}"></footer>
</body>
</html>
